# Normalize all text files to LF
* text=auto eol=lf

*.md   text eol=lf
*.py   text eol=lf
*.cpp  text eol=lf
*.h    text eol=lf
*.hpp  text eol=lf
*.sh   text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
